<% include ./partials/header %>


<section class="info">
    <section class="banner">
        <div class="row">
            <div class="col-md-12">
                <img class="banner__picture" src="<%= model.photos.bannerImageURL %>" alt="">
                <div class="container">
                    <div class="banner__info">
                        <h1 class="banner__title"><%= model.modelo %></h1>
                        <div class="separator separator--white"></div>
                        <p class="banner__description"><%= model.descripcion.substr(0,65) %>.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="details">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="nav nav--center sticky-top" role="tablist">
                        <a class="nav-item nav-link active" id="nav-features-tab" data-toggle="tab" href="#nav-features" role="tab" aria-controls="nav-features" aria-selected="true">GENERAL</a>
                        <a class="nav-item nav-link" id="nav-engine-tab" data-toggle="tab" href="#nav-engine" role="tab" aria-controls="nav-engine" aria-selected="false">FEATURES</a>
                        <a class="nav-item nav-link" id="nav-workload-tab" data-toggle="tab" href="#workload" role="tab" aria-controls="nav-workload" aria-selected="false">VERSIONS</a>
                    </nav>
                </div>
            </div>
            <div class="tab-content" id="details-tab">
                <div class="tab-pane fade active show" id="nav-features" role="tabpanel" aria-labelledby="nav-features-tab">
                    <div class="row">
                        <div class="col-md-12 details__introduction">
                            <h2 class="details__title"><%= model.modelo %></h2>
                            <p class="details__description">El <%= model.modelo %> te otorga nuevas caracteristicas que seguro te fascinarán. <%= model.descripcion %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="details__features">
                            <div class="col-md-6">
                                <div class="feature-car">
                                    <img class="feature-car__image" src="<%= model.photos.imagesURL[0] %>" alt="">
                                    <div class="feature-car__info">
                                        <h3 class="feature-car__title">Satisfacción</h3>
                                        <p class="feature-car__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, sit nemo odit officia nobis dignissimos?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-car">
                                    <img class="feature-car__image" src="<%= model.photos.imagesURL[1] %>" alt="">
                                    <div class="feature-car__info">
                                        <h3 class="feature-car__title">Poder</h3>
                                        <p class="feature-car__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, sit nemo odit officia nobis dignissimos?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-car">
                                    <img class="feature-car__image" src="<%= model.photos.imagesURL[2] %>" alt="">
                                    <div class="feature-car__info">
                                        <h3 class="feature-car__title">Alcance</h3>
                                        <p class="feature-car__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, sit nemo odit officia nobis dignissimos?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-car">
                                    <img class="feature-car__image" src="<%= model.photos.imagesURL[3] %>" alt="">
                                    <div class="feature-car__info">
                                        <h3 class="feature-car__title">Comodidad</h3>
                                        <p class="feature-car__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, sit nemo odit officia nobis dignissimos?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-car">
                                    <img class="feature-car__image" src="<%= model.photos.imagesURL[4] %>" alt="">
                                    <div class="feature-car__info">
                                        <h3 class="feature-car__title">Confianza</h3>
                                        <p class="feature-car__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, sit nemo odit officia nobis dignissimos?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-car">
                                    <img class="feature-car__image" src="<%= model.photos.imagesURL[5] %>" alt="">
                                    <div class="feature-car__info">
                                        <h3 class="feature-car__title">Identidad</h3>
                                        <p class="feature-car__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, sit nemo odit officia nobis dignissimos?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-engine" role="tabpanel" aria-labelledby="nav-engine-tab">
                    <div class="row">
                        <div class="col-md-12 details__introduction">
                            <h2 class="details__title">Rendimiento</h2>
                            <p class="details__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia facilis doloribus quia maxime molestiae maiores veniam tempora sunt voluptatem ratione?.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="details__features">
                            <div class="col-md-4">
                                <div class="attribute">
                                    <h3 class="attribute__title">Rendimiento</h3>
                                    <img class="attribute__icon" src="/img/icons/details/yield/1.png">
                                    <ul class="attribute__list">
                                        <li>El asombroso <%= model.modelo %> es capaz de rendir hasta
                                            <%= model.variantes[0].caracteristicas.rendimiento %>, lleva
                                            tus viajes al siguiente nivel.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="attribute">
                                    <h3 class="attribute__title">Desempeño</h3>
                                    <img class="attribute__icon" src="/img/icons/details/yield/2.png">
                                    <ul class="attribute__list">
                                        <li><%= model.variantes[0].caracteristicas.potencia %> son
                                            los caballos de fuerza con los que el <%= model.modelo %> funciona,
                                            siente el poder de este vehículo en tus manos.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="attribute">
                                    <h3 class="attribute__title">Motor</h3>
                                    <img class="attribute__icon" src="/img/icons/details/yield/3.png">
                                    <ul class="attribute__list">
                                        <li><%= model.variantes[0].caracteristicas.torque %> será la pieza clave
                                            para poder brindarte todas las funcionalidades.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="attribute">
                                    <h3 class="attribute__title">Transmisión</h3>
                                    <img class="attribute__icon" src="/img/icons/details/yield/3.png">
                                    <ul class="attribute__list">
                                        <li>El <%= model.modelo %> cuenta con una transmisión <%= model.variantes[0].caracteristicas.transmision %>.
                                            Permítete la oportunidad de una gran experiencia de uso.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="attribute">
                                    <h3 class="attribute__title">Tracción</h3>
                                    <img class="attribute__icon" src="/img/icons/details/yield/3.png">
                                    <ul class="attribute__list">
                                        <li><%= model.variantes[0].caracteristicas.traccion %> será el instrumento que te le añadirá
                                            un toque especial al realizar tus trayectos y nuevas aventuras.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<% include ./partials/footer %>